body {
  background-color: #0d1117;
  color: darkgray;
  font-family: "Segoe UI", "Source Sans Pro", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  height: auto;
  margin: 10px 15px;
}
fieldset {
  margin-bottom: 10px;
}
legend {
  font-size: 1.25rem;
  font-weight: bold;
}
div {
  margin-bottom: 5px;
}
