body {
  background-color: #0d1117;
  color: darkgray;
  font-family: "Segoe UI", "Source Sans Pro", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  height: auto;
  margin: 10px 15px;
  font-size: 1.5rem;
}

fieldset {
  margin-bottom: 10px;
}

legend {
  font-size: 1.75rem;
  font-weight: bold;
}

div {
  margin-bottom: 5px;
}

select {
  font: inherit;
}

input {
  font: inherit;
  padding: 0.5rem;

  &[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 1rem;
  }

  legend {
    font-size: 1.25rem;
  }

  input {
    padding: 0rem;

    &[type="checkbox"] {
      width: 1rem;
      height: 1rem;
    }
  }
}
